<!DOCTYPE html>
<html>

<head>
    <title>Agri Chatbot</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is an Agriculture chatbot that helps farmers to make write desitions." />
    <link rel="icon" type="image/png" href="static/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        .loading-message {
            text-align: center;
            font-style: italic;
            color: #999;
        }

        #chat-container {
            height: 60vh;
            overflow-y: auto;
        }

        #user-input {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Agriculture Chatbot</h1>
        <p>Disclaimer:please have patience this might take some time</p>
        <div class="row chat-container" id="chat-container"></div>
        <div class="row">
            <div class="col-xs-12">
                <input type="text" class="form-control" id="user-input" placeholder="Type your message...">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-block" id="send-btn">Send</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-block" id="record-btn">Record</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <audio id="audio" controls></audio>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-links">
                <h2> Made by Hemant Rajput
                    <a href="https://www.linkedin.com/in/hemantsinghrajput" target="_blank"><i
                            class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/hemantsinghrajput" target="_blank"><i class="bi bi-github"></i></a>
                </h2>
            </div>
        </footer>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('send-btn').addEventListener('click', function () {
                sendMessage();
            });

            document.getElementById('user-input').addEventListener('keypress', function (e) {
                if (e.which === 13) {
                    sendMessage();
                }
            });

            document.getElementById('record-btn').addEventListener('click', function () {
                toggleRecording();
            });

            var recording = false;
            var recorder;

            function toggleRecording() {
                if (recording) {
                    stopRecording();
                    document.getElementById('record-btn').textContent = 'Record';
                } else {
                    startRecording();
                    document.getElementById('record-btn').textContent = 'Stop Recording';
                }
                recording = !recording;
            }

            function startRecording() {
                if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    navigator.mediaDevices.getUserMedia({ audio: true })
                        .then(function (stream) {
                            recorder = new MediaRecorder(stream);
                            var chunks = [];

                            recorder.addEventListener('dataavailable', function (e) {
                                chunks.push(e.data);
                            });

                            recorder.addEventListener('stop', function () {
                                var audioBlob = new Blob(chunks, { type: 'audio/webm' });
                                var formData = new FormData();
                                formData.append('audio', audioBlob, 'audio.webm');
                                sendAudio(formData);
                            });

                            recorder.start();
                        })
                        .catch(function (err) {
                            console.error('Error accessing microphone:', err);
                        });
                } else {
                    console.error('getUserMedia is not supported in this browser.');
                }
            }

            function stopRecording() {
                if (recorder) {
                    recorder.stop();
                }
            }

            function sendAudio(formData) {
                document.getElementById('chat-container').insertAdjacentHTML('beforeend', '<div class="col-xs-12"><p class="loading-message">Uploading audio...</p></div>');

                fetch('/chat', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        var loadingMessage = document.querySelector('.loading-message');
                        if (loadingMessage) {
                            loadingMessage.parentNode.removeChild(loadingMessage);
                        }
                        var transcription = data.text;
                        document.getElementById('user-input').value = transcription;
                        sendMessage();
                    })
                    .catch(error => {
                        console.error('Error uploading audio:', error);
                    });
            }

            function sendMessage() {
                var userInput = document.getElementById('user-input').value;
                if (userInput.trim() !== '') {
                    document.getElementById('user-input').value = '';
                    document.getElementById('chat-container').insertAdjacentHTML('beforeend', '<div class="col-xs-12 text-right"><p class="alert alert-info">' + userInput + '</p></div>');
                    scrollToBottom();

                    document.getElementById('chat-container').insertAdjacentHTML('beforeend', '<div class="col-xs-12"><p class="loading-message">Bot is typing...</p></div>');
                    scrollToBottom();

                    fetch('/chat', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ text: userInput })
                    })
                        .then(response => response.json())
                        .then(data => {
                            var loadingMessage = document.querySelector('.loading-message');
                            if (loadingMessage) {
                                loadingMessage.parentNode.removeChild(loadingMessage);
                            }
                            document.getElementById('chat-container').insertAdjacentHTML('beforeend', '<div class="col-xs-12 text-left"><p class="alert alert-success">' + data.text + '</p></div>');
                            scrollToBottom();

                            setVoice(data.voice);
                            playNotificationSound();
                            showNotification(data.text);
                        })
                        .catch(error => {
                            console.error('Error sending message:', error);
                        });
                }
            }

            function setVoice(voiceFile) {
                var audio = document.getElementById('audio');
                audio.pause();
                audio.src = voiceFile;
                audio.load();
                audio.play();
            }

            function playNotificationSound() {
                var audio = new Audio('/static/audio/sound.mp3');
                audio.play();
            }

            function showNotification(message) {
                if (Notification.permission === "granted") {
                    var notification = new Notification("New Message", {
                        body: message,
                        icon: "./static/img/notification-icon.png"
                    });
                } else if (Notification.permission !== "denied") {
                    Notification.requestPermission().then(function (permission) {
                        if (permission === "granted") {
                            var notification = new Notification("New Message", {
                                body: message,
                                icon: "./static/img/notification-icon.png"
                            });
                        }
                    });
                }
            }

            function scrollToBottom() {
                var chatContainer = document.getElementById('chat-container');
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }
        });
    </script>

</body>

</html>
